<div class="">
    <a href="#/food/create/">+ Добавить</a>
    <input type="text" ng-model="searchQuery" class="input-primary"/>
    <ul style="list-style: inherit" class="center" infinite-scroll="showMore()" infinite-scroll-distance="0.7"
        infinite-scroll-disabled='isDataLoading || searchQuery'>
        <li ng-repeat="product in products">
            <a href="#/food/{{product.id}}">
            {{product.name}}
            <span ng-show="product.category.categoryTypeId==2 || product.category.categoryTypeId==3 ||product.category.categoryTypeId==4">
                ({{product.category.name}})</span>
            </a>
        </li>
    </ul>
    <div ng-show="isDataLoading" ng-include="'js/common/partials/loader.html'"></div>
</div>
