<div>
    <div class="easy-box" ng-controller="NewItemController">
        <div date-time-picker time="sugarModel.time" isopen="isDatePickerOpen" maxvalue="maxDate" overlayid="'sugar-overlay'"></div>
        <div class="box-title">Уровень сахара</div>
        <div class="box-message">
            <span class="interactive-text" ng-click="isDatePickerOpen=true">
                {{sugarModel.time | smartdatetime}}
            </span>
            у меня
            <span ng-hide="isSugarNow">было</span>
            <span> <span numeric number="sugarModel.value" isopen="isNumericOpen" is-float="true"
                         max-value="60" min-value="1" overlayid="'sugar-overlay'"></span>
                 <span class="interactive-text" ng-click="isNumericOpen=true">{{sugarModel.value}}</span>
            </span>
            ммоль/л
        </div>
        <div class="clearfix"></div>
        <div class="box-button btn" ng-tap ng-click="saveSugar()">Сохранить </div>
        <div class="close-button md-close" ng-click="closeModals()"><span class="flaticon-close-small"></span></div>
    </div>

    <div class="nl-overlay" id="sugar-overlay"></div>
</div>