@import "../theme";
@import "../common/mixins";

.btn{
  width: 150px;
  height: 30px;
  background: $mark-light;
  border: none;
  cursor: pointer;
  color: white;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}




//-----------------------------------------------------------------------
.button-container{
  @include vendor(perspective, 300px);
}
.up-button, .down-button{
  border:  none;
  text-align: center;
  cursor: pointer;
  background: $background-default;
  height: 45px;
  @include vendor(transform-style, preserve-3d);
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .1s;
  -o-transition: -o-transform .1s;
  -ms-transition: -ms-transform .1s;
  transition: transform .1s;
}

.down-button{
  @include vendor(transform-origin, 0% 0%);
}
.up-button{
  @include vendor(transform-origin, 0% 100%);
}
.down-button:active{
  @include vendor(transform, rotateX(-15deg));
}
.up-button:active{
  @include vendor(transform, rotateX(15deg));
}
