@font-face {
  font-family: 'open_sanslight';
  src: url("/../fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("/../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/../fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("/../fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("/../fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
VENDOR MIXIN
Use:

  .foo{
  @include vendor(transition, all 0.3s ease-in-out );
  }


*/
/*

TRANSFORM-MIXIN
Use:
  .foo{
  @include transform(0px, 100px);
  }

*/
/*
KEYFRAME
Use:
  @include keyframe(fadeout) {
      0% {
          opacity: 1;
      }

      100% {
          opacity: 0;
      }
  }
*/
/*
    ANIMATION
    use:
      .foo{
      @include animation(8s, 4s, fadeout)
      }
 */
.btn {
  width: 150px;
  height: 30px;
  background: #f28530;
  border: none;
  cursor: pointer;
  color: white;
  line-height: 30px;
  font-size: 18px;
  text-align: center; }

.button-container {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px; }

.up-button, .down-button {
  border: none;
  text-align: center;
  cursor: pointer;
  background: #f2f3eb;
  height: 45px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .1s;
  -o-transition: -o-transform .1s;
  -ms-transition: -ms-transform .1s;
  transition: transform .1s; }

.down-button {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

.up-button {
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }

.down-button:active {
  -webkit-transform: rotateX(-15deg);
  -moz-transform: rotateX(-15deg);
  -ms-transform: rotateX(-15deg);
  -o-transform: rotateX(-15deg);
  transform: rotateX(-15deg); }

.up-button:active {
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  -o-transform: rotateX(15deg);
  transform: rotateX(15deg); }

.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px; }

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #5ebbce; }

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.hi-icon-effect-1 .hi-icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #f2f3eb;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(0.8);
  opacity: 0; }

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
  background: #f2f3eb;
  color: #f28530; }

.hi-icon-effect-1a .hi-icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

@media only screen and (max-width: 480px) {
  .hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px; }

  .hi-icon {
    margin: 10px 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #5ebbce; } }
