@import "../theme";
@import "../common/mixins";
.date-time-picker{
  width: 250px;
  margin-left: 100px;
  height: 90px;
  background: white;
  display: flex;

  .field{
    color: $mark-light;
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 100%;
  }
  .date-container{
    width: 150px;
    .button-container, .up-button, .down-button{
      width:100%;
    }
  }
  .time-container{
    width: 90px;
    display: flex;
    flex-flow: row wrap;
    .button-container{
      width:50%;
      @include vendor('perspective', 75px);
    }
    .up-button, .down-button{
      border-left: 1px white solid;
    }
  }
}