@import "../theme";
@import "../common/mixins";
.date-time-picker{
  z-index: 1000;
  //background: transparent;
  width: 240px;
  margin-left: -100px;
  .field{
    background: white;
    color: $mark-light;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 100%;
  }
  .date-container{
    width: 150px;
    float: left;
    .button-container, .up-button, .down-button{

      line-height: 45px;
      height: 45px;
      width:100%;
    }
  }
  .time-container{
    float: left;
    width: 90px;
    .button-container{
      width:50%;
      @include vendor('perspective', 75px);
      float: left;
    }
    .up-button, .down-button{
      height: 45px;
      border-left: 1px white solid;
    }
  }
  .btn{
    width: 100%;
  }
}