@import "../theme";
.food-usage{
  .easy-box{
   // background: $background-default;
  }
}
.food-item{
  margin: 50px;
  width: 380px;
  height: 100px;
  background: white;
  //border:1px solid $background-default-da;
  padding-top: 15px;
  padding-bottom: 15px;

  background: #fdfdfd;
  .product{
    float: left;
    width: 150px;
    height: 70px;
    padding: 10px;
    border-right: $border-default;
    .name{
      font-size: 18px;
    }
    .desc{

    }
  }
  .portion{
    float: left;
    width: 80px;
    padding: 10px;
    text-align: center;
    .size{
      padding: 0;
      color: $default-text-color;
      font-family: $font-default ;
      font-size: 24px;
      text-align: center;
      width: 60px;
    }
    .unit{
      font-size: 18px;
    }
  }
  .amount-buttons{
    width: 50px;
    float: left;
    margin-top: -15px;
    button{
      width: 50px;
      height: 50px;
      border: none;
      color: #aaaaaa;
    }
    button:first-child{
      border-bottom: 1px solid #fff;
    }
  }
  .values{
    padding-left: 10px;
    padding-top: 21px;
    margin-top: -15px;
    width: 100px;
    height: 100px;
    float: left;
    color: #ffffff;
    background: $mark-light;
    .size{
      margin-left: 2px;
      margin-right: 0px;
      font-size: 37px;
      display: inline-block;
    }
    .unit{
      display: inline-block;
      font-size: 18px;
    }
  }
  .delete{
    text-align: center;
    width: 25px;
    height: 100px;
    background: #ffffff;
    float: right;
    margin-top: -15px;
    margin-right: -25px;
    padding-top: 6px;
  }
}
