@font-face {
  font-family: 'open_sanslight';
  src: url("/../fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("/../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/../fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("/../fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("/../fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

.food-item {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 576px;
  height: 100px;
  background: white;
  padding-top: 15px;
  padding-bottom: 15px; }
  .food-item .product {
    float: left;
    height: 70px;
    padding: 10px; }
    .food-item .product .name {
      color: #393939;
      font-size: 24px; }
    .food-item .product .desc {
      font-size: 16px;
      color: #CECECE; }
  .food-item .portion {
    border-left: 1px solid #f2f2f2;
    float: right;
    width: 80px;
    padding: 10px;
    text-align: center; }
    .food-item .portion .size {
      padding: 0;
      color: gray;
      font-family: open_sanslight;
      font-size: 24px;
      text-align: center;
      width: 60px; }
    .food-item .portion .unit {
      font-size: 18px; }
  .food-item .amount-buttons {
    width: 50px;
    float: right;
    margin-top: -15px; }
    .food-item .amount-buttons button {
      width: 50px;
      height: 50px;
      border: none;
      color: #aaaaaa; }
    .food-item .amount-buttons button:first-child {
      border-bottom: 1px solid #fff; }
  .food-item .values {
    padding-left: 10px;
    padding-top: 21px;
    margin-top: -15px;
    margin-right: 16px;
    width: 100px;
    height: 100px;
    float: right;
    color: #ffffff;
    background: #f28530; }
    .food-item .values .size {
      margin-left: 2px;
      margin-right: 0px;
      font-size: 37px;
      display: inline-block; }
    .food-item .values .unit {
      display: inline-block;
      font-size: 18px; }
  .food-item .delete {
    text-align: center;
    width: 25px;
    height: 100px;
    background: #ffffff;
    float: right;
    margin-top: -15px;
    margin-right: -25px;
    padding-top: 6px; }
