@font-face {
  font-family: 'open_sanslight';
  src: url("/../fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("/../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/../fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("/../fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("/../fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
VENDOR MIXIN
Use:

  .foo{
  @include vendor(transition, all 0.3s ease-in-out );
  }


*/
/*

TRANSFORM-MIXIN
Use:
  .foo{
  @include transform(0px, 100px);
  }

*/
/*
KEYFRAME
Use:
  @include keyframe(fadeout) {
      0% {
          opacity: 1;
      }

      100% {
          opacity: 0;
      }
  }
*/
/*
    ANIMATION
    use:
      .foo{
      @include animation(8s, 4s, fadeout)
      }
 */
/* The line */
.date-expander:before {
  content: '';
  position: absolute;
  top: 45px;
  bottom: 0;
  width: 10px;
  background: #e8f5f4;
  left: 20%;
  z-index: -1;
  margin-left: -10px; }

.timeline {
  max-width: 600px;
  margin: 0 auto; }
  .timeline .date-expander {
    position: relative; }
    .timeline .date-expander .date-header {
      cursor: pointer;
      padding-left: 5px;
      height: 45px;
      line-height: 40px;
      border-top: 2px solid #e8f5f4;
      border-bottom: 2px solid #e8f5f4; }
  .timeline .item {
    cursor: pointer;
    padding-top: 40px;
    height: 104px;
    padding-bottom: 90px;
    /* The triangle */ }
    .timeline .item .time {
      color: #5ebbce;
      font-size: 30px;
      width: 25%;
      padding-right: 100px;
      position: absolute; }
    .timeline .item .icon {
      margin-left: -25px;
      margin-top: 5px;
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      background: #9ED8E4;
      border-radius: 50%;
      box-shadow: 0 0 0 8px #e8f5f4;
      text-align: center;
      left: 20%; }
    .timeline .item .info {
      margin: 0 0 25px 27%;
      border-left: 2px solid #e8f5f4;
      position: relative;
      padding-left: 15px; }
      .timeline .item .info .value {
        color: #f28530;
        font-size: 64px;
        display: inline; }
        .timeline .item .info .value .unit {
          font-size: 18px; }
      .timeline .item .info .right {
        height: 100%;
        float: none;
        position: absolute;
        right: 0;
        top: 0; }
      .timeline .item .info .name {
        font-size: 24px;
        color: #5ebbce; }
      .timeline .item .info .addition {
        position: absolute;
        bottom: 20px;
        right: 0;
        font-size: 18px; }
    .timeline .item .info:after {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-right-color: #e8f5f4;
      border-width: 10px;
      top: 15px;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 100% 0%;
      -moz-transform-origin: 100% 0%;
      -ms-transform-origin: 100% 0%;
      -o-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      -webkit-transition: -webkit-transform .3s;
      -moz-transition: -moz-transform .3s;
      -o-transition: -o-transform .3s;
      -ms-transition: -ms-transform .3s;
      transition: transform .3s; }
  .timeline .item:hover .info:after {
    -webkit-transform: scaleX(5);
    -moz-transform: scaleX(5);
    -ms-transform: scaleX(5);
    -o-transform: scaleX(5);
    transform: scaleX(5); }
