@import "../theme";
@import "../common/mixins";

/* The line */
.date-expander:before {
  content: '';
  position: absolute;
  top: 45px;
  bottom: 0;
  width: 10px;
  background: $basic-light;
  left: 20%;
  z-index: -1000;
  margin-left: -10px;
}

.timeline{
  max-width: 600px;
  margin: 0 auto;
  .date-expander{
    position: relative;
    .date-header{
      cursor: pointer;
      padding-left: $small-space;
      height: 45px;
      line-height: 40px;
      border-top: 2px solid $basic-light;
      border-bottom: 2px solid $basic-light;
    }
  }

  .item{
    cursor: pointer;
    padding-top: 40px;
    height: 104px;
    padding-bottom: 90px;
    .time{
      color: $basic-dark;
      font-size: 30px;
      width: 25%;
      padding-right: 100px;
      position: absolute;
    }
    .icon{
      margin-left: -25px;
      margin-top: 5px;
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      background: #9ED8E4;
      border-radius: 50%;
      box-shadow: 0 0 0 8px $basic-light;
      text-align: center;
      left: 20%;
     // z-index: 10000;
    }
    .info{
      margin: 0 0 25px 27%;
      border-left: 2px solid $basic-light;
      position: relative;
      padding-left: $medium-space;
      .value{
        color: $mark-light;
        font-size: 64px;
        display: inline;
        .unit{
          font-size: 18px;
        }
      }

      .right{
        height: 100%;
        float: none;
        position: absolute;
        right: 0;
        top: 0;
      }
      .name{
        font-size: 24px;
        color: $basic-dark;
      }
      .addition{
        position: absolute;
        bottom: 20px;
        right: 0;
        font-size: 18px;
      }
    }
    /* The triangle */
    .info:after {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-right-color: $basic-light;
      border-width: 10px;
      top: 15px;
      @include vendor(transform-style, preserve-3d);
      @include vendor(transform-origin, 100% 0%);
      -webkit-transition: -webkit-transform .3s;
      -moz-transition: -moz-transform .3s;
      -o-transition: -o-transform .3s;
      -ms-transition: -ms-transform .3s;
      transition: transform .3s;
    }
  }

  .item:hover{
    .info:after{
      @include vendor(transform, scaleX(5));

    }
  }


}
