@import "../theme";
@import "../common/mixins";

/* The line */
.date-expander:before {
  content: '';
  position: absolute;
  top: 45px;
  bottom: 0;
  width: 10px;
  background: $basic-light;
  left: 20%;
  z-index: 0;
  margin-left: -10px;
}

.timeline{
  max-width: 600px;
  margin: 0 auto;
  .date-expander{
    position: relative;
    padding-bottom: 40px;
    .date-header{
      cursor: pointer;
      padding-left: $small-space;
      height: 45px;
      line-height: 40px;
      border-top: 2px solid $basic-light;
      border-bottom: 2px solid $basic-light;

    }
    .items-container{
      display: block;
      overflow: hidden;
     // max-height:1500px;
    }
    &.true{
      margin-bottom: -2px;
      .items-container{
        display: none;
        //visibility: hidden;
      //  max-height: 0;
      }
    }

  }
  .item{
    margin-top: 40px;
    height: 80px;
    -webkit-transition: margin-top 0.5s, height 0.5s;
    -moz-transition: margin-top 0.5s, height 0.5s;
    transition: margin-top 0.5s, height 0.5s;

    .item-content{
      @include vendor(transition, opacity 0.4s);
      @include vendor(transition-delay, 0.02s);
      opacity: 1;
    }
    .time{
      color: $basic-dark;
      font-size: 30px;
      width: 25%;
      padding-right: 100px;
      float: left;
    }
    .icon{
      [class^="flaticon-"]:before{
        line-height: 40px;
        font-size: 28px;
      }
      .flaticon-rain14:before{
        font-size: 33px;
        margin-left: -7px;
      }
      float: left;
      margin-left: -55px;
      margin-top: 5px;
      position: relative;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      background: #9ED8E4;
      border-radius: 50%;
      box-shadow: 0 0 0 8px $basic-light;
      text-align: center;
     // left: 20%;
      z-index: 1000;
    }
    .info{
      margin: 0 0 0px 27%;
      border-left: 2px solid $basic-light;
      position: relative;
      padding-left: $medium-space;
      cursor: pointer;

      .value{
        color: $mark-light;
        font-size: 64px;
        display: inline;
        .unit{
          font-size: 18px;
        }
      }

      .right{
        height: 100%;
        float: none;
        position: absolute;
        right: 0;
        top: 0;
      }
      .name{
        font-size: 24px;
        color: $basic-dark;
      }
      .addition{
        position: absolute;
        bottom: 20px;
        right: 0;
        font-size: 18px;
      }
    }
    /* The triangle */
    .info:after {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-right-color: $basic-light;
      border-width: 10px;
      top: 15px;
      @include vendor(transform-style, preserve-3d);
      @include vendor(transform-origin, 100% 0%);
      -webkit-transition: -webkit-transform .3s;
      -moz-transition: -moz-transform .3s;
      -o-transition: -o-transform .3s;
      -ms-transition: -ms-transform .3s;
      transition: transform .3s;
    }
    .control{
     // display: none;
      overflow: hidden;
      @include vendor(transition, height 0.3s);
      height: 0;
      margin: 0 0 0px 27%;
      font-size: 18px;
      .edit{
        cursor: pointer;
        float: left;
        margin-left: $medium-space;
        color: $mark-light;
      }
      .delete{
        cursor: pointer;
        color: #ff5453;
        float: right;
        width: 100px;
        .flaticon-close-small:before{
          display: inline;
          margin-left: $small-space;
        }
      }
    }
  }
  .item.hide{
    margin-top: 0px;
    height: 0px;
    .item-content{
      opacity: 0;
    }
  }
  .item:hover{
    .info:after{
      @include vendor(transform, scaleX(5));
    }
  }

  .item.selected{
    height: 110px;
    .info:after{
      @include vendor(transform, scaleX(5));
    }
    .control{
      height: 24px;
      display: block;
    }
  }


}
