<div class="">
    <!--<div ng-include="'js/common/partials/new-sugar.html'"></div>-->
    <section id="set-1" style="margin: 0 auto">
        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
            <a class="hi-icon flaticon-rain14" data-modal="new-item-modal" ng-click="showModal(1)"></a>
            <a  class="hi-icon flaticon-syringe" data-modal="new-item-modal" ng-click="showModal(2)"></a>
            <a  class="hi-icon flaticon-silver" data-modal="new-item-modal" ng-click="showModal(3)"></a>
        </div>
    </section>

    <div ng-show="isDataLoading" ng-include="'js/common/partials/loader.html'"></div>
    <div class="timeline" ng-hide="isDataLoading">

        <div class="date-expander {{dateItem.isClosed}}" ng-repeat="dateItem in datedCollection">
            <div class="date-header" ng-click="dateItem.isClosed = !dateItem.isClosed">{{dateItem.date | smartdate}}</div>
            <div class="items-container ">
                <div class="item {{item.hidden}} {{item.selected}}" ng-repeat="item in dateItem.items">
                    <div class="item-content">
                        <div ng-if="item.journalItemTypeId == 1">
                            <div class="time">{{item.time | date:'HH:mm'}}</div>
                            <div class="icon"><span class="flaticon-rain14 small"></span></div>
                            <div class="info" ng-click="selectItem(item)">
                                <div>
                                    <div class="value">{{item.value}}<span class="unit">ммоль/л</span></div>
                                    <div class="right">
                                        <div class="name">Глюкоза</div>
                                        <div class="addition">в норме</div></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div ng-if="item.journalItemTypeId == 2">
                            <div class="time">{{item.time | date:'HH:mm'}}</div>
                            <div class="icon"><span class="flaticon-syringe small"></span></div>
                            <div class="info" ng-click="selectItem(item)">
                                <div class="value">{{item.value}}<span class="unit">ед</span></div>
                                <div class="right">
                                    <div class="name">Инсулин</div>
                                    <div class="addition">{{item.insulinType.id | insulinType}}</div></div>
                            </div>
                        </div>
                        <div ng-if="item.journalItemTypeId == 3">
                            <div class="time">{{item.time | date:'HH:mm'}}</div>
                            <div class="icon"><span class="flaticon-silver small"></span></div>
                            <div class="info" ng-click="selectItem(item)">
                                <div class="value">{{item.value}}<span class="unit">ХЕ</span></div>
                                <div class="right">
                                    <div class="name">{{item.foodUsageType.id | foodUsageType}}</div>
                                    <div class="addition">3 блюда</div></div>
                            </div>
                        </div>
                        <div class="control">
                            <ul>
                                <li ng-repeat="portion in item.portions">
                                    {{portion.product.name}} {{portion.size}} {{portion.unit.shortName}}
                                </li>
                            </ul>
                            <div class="edit" ng-click="editItem(item)"><span></span>Редактировать</div>
                            <div class="delete" ng-click="deleteItem(item)">Удалить<span class="flaticon-close-small"></span></div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="" ng-click="showMore()">Show more</a>
</div>