@import "theme";
body, html{
  background: white;
  font-family: $font-default;
  color: $default-text-color;
  height: 100%;
  font-size: x-large;
}
div,a,button,span{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul {
  list-style: none;
}
.left{
  float: left;
}
.right{
  float: right;
}
.center{
  margin: 0 auto;
}
.page{
 padding-top: 40px;
}
.clickable{
  cursor: pointer;
}
textarea:focus, input:focus, button, select{
  outline: 0;
}
textarea,input{
  border: none;
  font-size: 16px;
  background: transparent;
  resize: none;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ed8151;
  outline: none;
}

a:hover, a:focus {
  color: #e86a32;
  outline: none;
}

/*Content appears*/
//.content * {
//  opacity: 0;
//  -webkit-transform: translateX(-50px);
//  transform: translateX(-50px);
//  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
//  transition: transform 0.5s, opacity 0.5s;
//}
//
//.content.true * {
//  opacity: 1;
//  -webkit-transform: translateX(0);
//  transform: translateX(0);
//}
//
//.content.true *:nth-child(2) {
//  -webkit-transition-delay: 0.04s;
//  transition-delay: 0.04s;
//}
//
//.content.true *:nth-child(3) {
//  -webkit-transition-delay: 0.08s;
//  transition-delay: 0.08s;
//}
//
//.content.true *:nth-child(4) {
//  -webkit-transition-delay: 0.12s;
//  transition-delay: 0.12s;
//}
/* ---------- Clearfix ------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

