@import "common/mixins";
@import "theme";

.main{
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.header{
  height: $header-height;
  .logo{
    padding-left: $big-space;
    line-height: $header-height;
    font-size: 30px;
    color: $mark;
  }
  border-bottom: $default-border;


}

nav{
  float: left;
  width: $menu-width;
  padding-top: $medium-space;
  padding-left: $big-space;
  border-right: $default-border;
  height: calc(100% - 70px);
  li{
    margin-bottom: $small-space;
    a{
      color: $basic-dark;
      font-size: 24px;
    }
  }
}
  .content{
  padding-top: $medium-space;
  padding-bottom: $big-space;
  padding-left: $big-space;
  padding-right: $big-space;
  margin-left: $menu-width;
}