/*
VENDOR MIXIN
Use:

  .foo{
  @include vendor(transition, all 0.3s ease-in-out );
  }


*/
/*

TRANSFORM-MIXIN
Use:
  .foo{
  @include transform(0px, 100px);
  }

*/
/*
KEYFRAME
Use:
  @include keyframe(fadeout) {
      0% {
          opacity: 1;
      }

      100% {
          opacity: 0;
      }
  }
*/
/*
    ANIMATION
    use:
      .foo{
      @include animation(8s, 4s, fadeout)
      }
 */
.nav {
  width: 340px;
  height: 100%;
  float: left;
  overflow: auto;
  background: #454545;
  color: #ffffff;
  font-family: gothamMedium;
  position: fixed;
  border-top: solid 1px #d2d2cf;
  z-index: 2; }
  .nav a {
    color: white; }
  .nav ul {
    margin-left: 60px;
    margin-right: 60px; }
    .nav ul li {
      border-bottom: solid 1px #323232; }
      .nav ul li a {
        padding-bottom: 23px;
        padding-top: 23px;
        display: block; }
      .nav ul li span {
        margin-left: 10px;
        margin-right: 26px;
        display: inline-block; }
      .nav ul li .home {
        background-position: 0 0px; }
      .nav ul li .groups {
        background-position: 0 -18px; }
      .nav ul li .archive {
        background-position: 0 -36px; }
      .nav ul li .settings {
        background-position: 0 -54px; }
      .nav ul li .logout {
        background-position: 0 -72px; }

.mobile-nav {
  height: 60px;
  background-color: #454545;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: solid 1px #d2d2cf; }
  .mobile-nav .menu-button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    float: left;
    border-right: solid 1px #d2d2cf;
    color: #ffffff; }
    .mobile-nav .menu-button .icon-menu {
      margin-top: 16px;
      display: block;
      margin-left: 16px; }
  .mobile-nav .mobile-logo {
    margin: 0 auto;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
    display: block;
    color: #ffffff;
    background: no-repeat url("../img/logo-small-light.png");
    background-size: 100% 100%; }
  .mobile-nav .new-spond-button {
    cursor: pointer;
    border-left: solid 1px #d2d2cf;
    width: 60px;
    height: 60px;
    margin-top: -60px;
    padding-left: 0;
    padding-right: 0;
    float: right;
    color: #ffffff; }
    .mobile-nav .new-spond-button .icon-plus {
      margin-top: 17px;
      display: block;
      margin-left: 17px; }

.main {
  margin: 0 auto;
  max-width: 1110px;
  min-width: 320px; }

.header {
  padding-top: 85px;
  font-family: gothamMedium;
  padding-bottom: 30px;
  border-bottom: solid 1px #cdcdcd; }
  .header .title {
    color: #787878; }
  .header .message {
    margin-top: 10px;
    font-size: 50px;
    color: #454545; }

.content {
  margin-left: 340px;
  padding-left: 60px;
  padding-right: 60px; }
