@font-face {
  font-family: 'open_sanslight';
  src: url("/../fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("/../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/../fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("/../fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("/../fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
VENDOR MIXIN
Use:

  .foo{
  @include vendor(transition, all 0.3s ease-in-out );
  }


*/
/*

TRANSFORM-MIXIN
Use:
  .foo{
  @include transform(0px, 100px);
  }

*/
/*
KEYFRAME
Use:
  @include keyframe(fadeout) {
      0% {
          opacity: 1;
      }

      100% {
          opacity: 0;
      }
  }
*/
/*
    ANIMATION
    use:
      .foo{
      @include animation(8s, 4s, fadeout)
      }
 */
.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em; }

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #5ebbce; }

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

@font-face {
  font-family: "Flaticon";
  src: url("../../fonts/icons/flaticon.eot");
  src: url("../../fonts/icons/flaticon.eot#iefix") format("embedded-opentype"), url("../../fonts/icons/flaticon.woff") format("woff"), url("../../fonts/icons/flaticon.ttf") format("truetype"), url("../../fonts/icons/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block; }

.flaticon-angle1:before {
  content: "\e000"; }

.flaticon-arrow151:before {
  content: "\e001"; }

.flaticon-arrow270:before {
  content: "\e002"; }

.flaticon-arrow271:before {
  content: "\e003"; }

.flaticon-arrow277:before {
  content: "\e004"; }

.flaticon-arrow367:before {
  content: "\e005"; }

.flaticon-arrow389:before {
  content: "\e006"; }

.flaticon-cherries1:before {
  content: "\e007"; }

.flaticon-chicken:before {
  content: "\e008"; }

.flaticon-close12:before {
  content: "\e009"; }

.flaticon-cooker1:before {
  content: "\e00a"; }

.flaticon-cross29:before {
  font-size: 15px;
  line-height: 15px;
  content: "\e00b"; }

.flaticon-close-small:before {
  font-size: 15px;
  line-height: 15px;
  content: "\e00b"; }

.flaticon-cross37:before {
  content: "\e00c"; }

.flaticon-curve21:before {
  content: "\e00d"; }

.flaticon-dwelling1:before {
  content: "\e00e"; }

.flaticon-eating:before {
  content: "\e00f"; }

.flaticon-fingerprint29:before {
  content: "\e010"; }

.flaticon-food9:before {
  content: "\e011"; }

.flaticon-fresh:before {
  content: "\e012"; }

.flaticon-geolocation:before {
  content: "\e013"; }

.flaticon-ham:before {
  content: "\e014"; }

.flaticon-home63:before {
  content: "\e015"; }

.flaticon-hot:before {
  content: "\e016"; }

.flaticon-location26:before {
  content: "\e017"; }

.flaticon-magicians:before {
  content: "\e018"; }

.flaticon-pizza2:before {
  content: "\e019"; }

.flaticon-rain14:before {
  margin-left: -9px;
  content: "\e01a"; }

.flaticon-restaurant1:before {
  content: "\e01b"; }

.flaticon-silver:before {
  content: "\e01c"; }

.flaticon-arrow-up:before {
  font-size: 30px;
  line-height: 45px;
  content: "\e01d"; }

.flaticon-arrow-down:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-left: 3px;
  font-size: 30px;
  line-height: 45px;
  content: "\e01d"; }

.flaticon-sweet3:before {
  content: "\e01e"; }

.flaticon-syringe:before {
  content: "\e01f"; }

.flaticon-syringe1:before {
  content: "\e020"; }

.flaticon-tea:before {
  content: "\e021"; }

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
  background: #e8f5f4;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s; }

.hi-icon-effect-1 .hi-icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #f2f3eb;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(0.8);
  opacity: 0; }

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
  background: #f2f3eb;
  color: #f28530; }

.hi-icon-effect-1a .hi-icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }
