@font-face {
  font-family: 'spond';
  src: url("../fonts/icons/spond.eot");
  src: url("../fonts/icons/spond.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/spond.ttf") format("truetype"), url("../fonts/icons/spond.woff") format("woff"), url("../fonts/icons/spond.svg#spond") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'spond';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-x:before {
  content: "\78"; }

.icon-Spond:before {
  content: "\6f"; }

.icon-send:before {
  content: "\73"; }

.icon-right:before {
  content: "\3e"; }

.icon-down:before {
  font-size: xx-small;
  content: "\64"; }

.icon-up:before {
  font-size: xx-small;
  content: "\5e"; }

.icon-check:before {
  content: "\76"; }

.icon-log-out:before {
  content: "\e607"; }

.icon-settings:before {
  content: "\e608"; }

.icon-archive:before {
  content: "\61"; }

.icon-groups:before {
  content: "\67"; }

.icon-pin:before {
  font-size: larger;
  content: "\e60b"; }

.icon-plus:before {
  content: "\2b";
  font-size: x-large; }

.icon-menu:before {
  content: "\6d";
  font-size: x-large; }

.icon-paragraph:before {
  content: "\a7"; }

.icon-person:before {
  content: "\70"; }

.icon-comment:before {
  content: "\63"; }

.icon-mail:before {
  content: "\e604"; }

.icon-telephone:before {
  content: "\74"; }

.icon-edit:before {
  content: "\65"; }
