@import "styles/theme";
body, html{
 // background: $background-default;
  font-family: $font-default;
  height: 100%;
  font-size: x-large;
  -webkit-font-smoothing: antialiased;
}
a{
  text-decoration: none;
}
.main{
  max-width: 1024px;
  min-height: 100%;
  margin: 0 auto;
  display: block;
}
ul.list{
  padding: 0px;
  list-style: none;
  li{
    width: 300px;
    margin-bottom: 10px;
    .header{
      height: 95px;
      background: $basic;
    }
    .footer{
      height: 5px;
      background: $basic-dark;
    }
  }
}
